body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:790px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:653px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1116 {
  position:absolute;
  left:59px;
  top:117px;
  width:347px;
  height:653px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1117 {
  position:absolute;
  left:2px;
  top:318px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1118 {
  position:absolute;
  left:59px;
  top:117px;
  width:347px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1119 {
  position:absolute;
  left:2px;
  top:4px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1120 {
  position:absolute;
  left:361px;
  top:119px;
  width:61px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1121 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u1122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:15px;
}
#u1122 {
  position:absolute;
  left:283px;
  top:121px;
  width:19px;
  height:15px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1123 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u1124 {
  position:absolute;
  left:307px;
  top:121px;
  width:17px;
  height:15px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1125 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
}
#u1126 {
  position:absolute;
  left:331px;
  top:122px;
  width:24px;
  height:14px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1127 {
  position:absolute;
  left:2px;
  top:-1px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:2px;
}
#u1128 {
  position:absolute;
  left:59px;
  top:188px;
  width:347px;
  height:1px;
}
#u1129 {
  position:absolute;
  left:2px;
  top:-8px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:26px;
}
#u1130 {
  position:absolute;
  left:64px;
  top:152px;
  width:19px;
  height:26px;
}
#u1131 {
  position:absolute;
  left:2px;
  top:5px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1132 {
  position:absolute;
  left:198px;
  top:152px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u1133 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:579px;
}
#u1134 {
  position:absolute;
  left:59px;
  top:191px;
  width:347px;
  height:579px;
}
#u1135 {
  position:absolute;
  left:2px;
  top:282px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1136 {
  position:absolute;
  left:390px;
  top:475px;
  width:200px;
  height:1px;
}
#u1137 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1138 {
  position:absolute;
  left:590px;
  top:431px;
  width:200px;
  height:100px;
}
#u1139 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u1140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:51px;
}
#u1140 {
  position:absolute;
  left:257px;
  top:717px;
  width:147px;
  height:51px;
}
#u1141 {
  position:absolute;
  left:2px;
  top:18px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
