body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:422px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:653px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1090 {
  position:absolute;
  left:59px;
  top:117px;
  width:347px;
  height:653px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1091 {
  position:absolute;
  left:2px;
  top:318px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1092 {
  position:absolute;
  left:59px;
  top:117px;
  width:347px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1093 {
  position:absolute;
  left:2px;
  top:4px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1094 {
  position:absolute;
  left:361px;
  top:119px;
  width:61px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1095 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u1096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:15px;
}
#u1096 {
  position:absolute;
  left:283px;
  top:121px;
  width:19px;
  height:15px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1097 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u1098 {
  position:absolute;
  left:307px;
  top:121px;
  width:17px;
  height:15px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1099 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
}
#u1100 {
  position:absolute;
  left:331px;
  top:122px;
  width:24px;
  height:14px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1101 {
  position:absolute;
  left:2px;
  top:-1px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:2px;
}
#u1102 {
  position:absolute;
  left:59px;
  top:188px;
  width:347px;
  height:1px;
}
#u1103 {
  position:absolute;
  left:2px;
  top:-8px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:26px;
}
#u1104 {
  position:absolute;
  left:64px;
  top:152px;
  width:19px;
  height:26px;
}
#u1105 {
  position:absolute;
  left:2px;
  top:5px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1106 {
  position:absolute;
  left:198px;
  top:152px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u1107 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:577px;
}
#u1108 {
  position:absolute;
  left:62px;
  top:192px;
  width:341px;
  height:577px;
}
#u1109 {
  position:absolute;
  left:2px;
  top:280px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:2px;
}
#u1110 {
  position:absolute;
  left:59px;
  top:545px;
  width:347px;
  height:1px;
}
#u1111 {
  position:absolute;
  left:2px;
  top:-8px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
}
#u1112 {
  position:absolute;
  left:74px;
  top:554px;
  width:40px;
  height:22px;
}
#u1113 {
  position:absolute;
  left:2px;
  top:3px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
}
#u1114 {
  position:absolute;
  left:354px;
  top:554px;
  width:34px;
  height:22px;
}
#u1115 {
  position:absolute;
  left:2px;
  top:3px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
