body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:719px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:717px;
  height:2601px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5189 {
  position:absolute;
  left:1px;
  top:-19px;
  width:717px;
  height:2601px;
}
#u5190 {
  position:absolute;
  left:2px;
  top:1292px;
  width:713px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:2416px;
}
#u5191 {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:2416px;
}
#u5192 {
  position:absolute;
  left:2px;
  top:1200px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
}
#u5193 {
  position:absolute;
  left:221px;
  top:74px;
  width:300px;
  height:64px;
  font-size:28px;
}
#u5194 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u5195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:49px;
}
#u5195 {
  position:absolute;
  left:20px;
  top:88px;
  width:55px;
  height:49px;
}
#u5196 {
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:89px;
}
#u5197 {
  position:absolute;
  left:72px;
  top:2441px;
  width:86px;
  height:89px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5198 {
  position:absolute;
  left:2px;
  top:36px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:80px;
}
#u5199 {
  position:absolute;
  left:240px;
  top:2446px;
  width:92px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5200 {
  position:absolute;
  left:2px;
  top:32px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u5201 {
  position:absolute;
  left:93px;
  top:2536px;
  width:37px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u5202 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u5203 {
  position:absolute;
  left:264px;
  top:2536px;
  width:37px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u5204 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:65px;
}
#u5205 {
  position:absolute;
  left:420px;
  top:2450px;
  width:94px;
  height:65px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5206 {
  position:absolute;
  left:2px;
  top:24px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u5207 {
  position:absolute;
  left:450px;
  top:2533px;
  width:37px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u5208 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009900;
}
#u5209 {
  position:absolute;
  left:611px;
  top:2533px;
  width:37px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009900;
}
#u5210 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:73px;
}
#u5211 {
  position:absolute;
  left:606px;
  top:2446px;
  width:53px;
  height:73px;
}
#u5212 {
  position:absolute;
  left:2px;
  top:28px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
