body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:422px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:553px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6874 {
  position:absolute;
  left:59px;
  top:117px;
  width:347px;
  height:553px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6875 {
  position:absolute;
  left:2px;
  top:268px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
}
#u6876 {
  position:absolute;
  left:59px;
  top:117px;
  width:347px;
  height:24px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
}
#u6877 {
  position:absolute;
  left:2px;
  top:4px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u6878 {
  position:absolute;
  left:361px;
  top:119px;
  width:61px;
  height:16px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u6879 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u6880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:15px;
}
#u6880 {
  position:absolute;
  left:283px;
  top:121px;
  width:19px;
  height:15px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
}
#u6881 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u6882 {
  position:absolute;
  left:307px;
  top:121px;
  width:17px;
  height:15px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
}
#u6883 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
}
#u6884 {
  position:absolute;
  left:331px;
  top:122px;
  width:24px;
  height:14px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
}
#u6885 {
  position:absolute;
  left:2px;
  top:-1px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:2px;
}
#u6886 {
  position:absolute;
  left:59px;
  top:188px;
  width:347px;
  height:1px;
}
#u6887 {
  position:absolute;
  left:2px;
  top:-8px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u6888 {
  position:absolute;
  left:193px;
  top:152px;
  width:77px;
  height:22px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u6889 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u6890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:26px;
}
#u6890 {
  position:absolute;
  left:70px;
  top:148px;
  width:19px;
  height:26px;
}
#u6891 {
  position:absolute;
  left:2px;
  top:5px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:553px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.619607843137255);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6892 {
  position:absolute;
  left:59px;
  top:117px;
  width:347px;
  height:553px;
}
#u6893 {
  position:absolute;
  left:2px;
  top:268px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:482px;
}
#u6894 {
  position:absolute;
  left:59px;
  top:188px;
  width:347px;
  height:482px;
}
#u6895 {
  position:absolute;
  left:2px;
  top:233px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:90px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6896 {
  position:absolute;
  left:72px;
  top:510px;
  width:320px;
  height:90px;
}
#u6897 {
  position:absolute;
  left:2px;
  top:37px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6898 {
  position:absolute;
  left:73px;
  top:612px;
  width:320px;
  height:44px;
}
#u6899 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u6900 {
  position:absolute;
  left:72px;
  top:555px;
  width:318px;
  height:1px;
}
#u6901 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u6902 {
  position:absolute;
  left:182px;
  top:525px;
  width:97px;
  height:18px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u6903 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u6904 {
  position:absolute;
  left:212px;
  top:568px;
  width:41px;
  height:23px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u6905 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u6906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u6906 {
  position:absolute;
  left:212px;
  top:622px;
  width:41px;
  height:23px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u6907 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u6908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:197px;
}
#u6908 {
  position:absolute;
  left:84px;
  top:207px;
  width:296px;
  height:197px;
}
#u6909 {
  position:absolute;
  left:2px;
  top:90px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
