<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andy.android.yubang">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.android.andy.yubang.app.YuBangApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- 主界面 -->
        <activity
            android:name="com.android.andy.yubang.ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 基Activity -->
        <activity
            android:name="com.android.andy.yubang.ui.BaseActivity"
            android:label="@string/title_activity_base" />
        <!-- 首页 -->
        <activity
            android:name="com.android.andy.yubang.ui.FirstPageActivity"
            android:label="@string/title_activity_first_page"
            android:screenOrientation="portrait" />
        <!-- 商城 -->
        <activity
            android:name="com.android.andy.yubang.ui.ShoppingMallActivity"
            android:label="@string/title_activity_shopping_mall"
            android:screenOrientation="portrait" />
        <!-- 发现 -->
        <activity
            android:name="com.android.andy.yubang.ui.DiscoverActivity"
            android:label="@string/title_activity_discover"
            android:screenOrientation="portrait" />
        <!-- 我的界面 -->
        <activity
            android:name="com.android.andy.yubang.ui.MyActivity"
            android:label="@string/title_activity_my"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="HtFAOVLR8DiUNNDy3cBg0ixw" />
        <!-- 搜索 -->
        <activity
            android:name="com.android.andy.yubang.ui.SearchActivity"
            android:label="@string/title_activity_search"
            android:screenOrientation="portrait" />

        <!-- 登陆 -->
        <activity
            android:name="com.android.andy.yubang.ui.LoginActivity"
            android:label="@string/title_activity_login"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 注册 -->
        <activity
            android:name="com.android.andy.yubang.ui.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait" />

        <!-- 忘记密码 并且重置密码 -->
        <activity
            android:name="com.android.andy.yubang.ui.ForgetAndResetPwdActivity"
            android:label="@string/title_activity_forget_and_reset_pwd"
            android:screenOrientation="portrait" />
        <!-- 注册详情 -->
        <activity
            android:name="com.android.andy.yubang.ui.RegisterDetailsActivity"
            android:label="@string/title_activity_register_details"
            android:screenOrientation="portrait" />

        <!-- 注册选择车辆信息 -->
        <activity
            android:name="com.android.andy.yubang.ui.RegisterDetailChooseCarInfoActivity"
            android:label="@string/title_activity_register_detail_choose_car_info"
            android:screenOrientation="portrait" />

        <!-- 注册车辆详情 上传身份证 -->
        <activity
            android:name="com.android.andy.yubang.ui.RegisterDetailUploadIDCardActivity"
            android:label="@string/title_activity_register_detail_upload_idcard"
            android:screenOrientation="portrait" />

        <!-- 注册车辆详情 上传司机照片 -->
        <activity
            android:name="com.android.andy.yubang.ui.RegisterDetailUploadDriverPhotoActivity"
            android:label="@string/title_activity_register_detail_upload_driver_photo"
            android:screenOrientation="portrait" />

        <!-- 注册车辆详情  上传车辆照片 -->
        <activity
            android:name="com.android.andy.yubang.ui.RegisterDetailUploadCarPhotoActivity"
            android:label="@string/title_activity_register_detail_upload_car_photo"
            android:screenOrientation="portrait" />

        <!-- 注册车辆详情 上传驾驶证 -->
        <activity
            android:name="com.android.andy.yubang.ui.RegisterDetailUploadDriverLicenseActivity"
            android:label="@string/title_activity_register_detail_upload_driver_license"
            android:screenOrientation="portrait" />

        <!-- 注册车辆详情 上传行驶证 -->
        <activity
            android:name="com.android.andy.yubang.ui.RegisterDetailUploadDrivingLicenseActivity"
            android:label="@string/title_activity_register_detail_upload_driving_license"
            android:screenOrientation="portrait" />

        <!-- 注册车辆详情 上传营运证 -->
        <activity
            android:name="com.android.andy.yubang.ui.RegisterDetailUploadTaxiLicenseActivity"
            android:label="@string/title_activity_register_detail_upload_taxi_license"
            android:screenOrientation="portrait" />

        <!-- 我的个人信息 -->
        <activity
            android:name="com.android.andy.yubang.ui.MyPersonalInfoActivity"
            android:label="@string/title_activity_my_personal_info"
            android:screenOrientation="portrait" />

        <!-- 我的钱包 -->
        <activity
            android:name="com.android.andy.yubang.ui.MyWwalletActivity"
            android:label="@string/title_activity_my_wwallet"
            android:screenOrientation="portrait" />

        <!-- 我的优惠 -->
        <activity
            android:name="com.android.andy.yubang.ui.MyCouponActivity"
            android:label="@string/title_activity_my_coupon"
            android:screenOrientation="portrait" />

        <!-- 我的特权 -->
        <activity
            android:name="com.android.andy.yubang.ui.MyPrivilegeActivity"
            android:label="@string/title_activity_my_privilege"
            android:screenOrientation="portrait" />

        <!-- 我的二维码  分享 -->
        <activity
            android:name="com.android.andy.yubang.ui.MyQRCodeActivity"
            android:label="@string/title_activity_my_qrcode"
            android:screenOrientation="portrait" />

        <!-- 我的订单 -->
        <activity
            android:name="com.android.andy.yubang.ui.MyOrdersActivity"
            android:label="@string/title_activity_my_orders"
            android:screenOrientation="portrait" />

        <!-- 我的界面==>推荐合伙人 -->
        <activity
            android:name="com.android.andy.yubang.ui.MyRecommendedPartnerActivity"
            android:label="@string/title_activity_my_recommended_partner"
            android:screenOrientation="portrait" />

        <!--  -->
        <activity
            android:name="com.android.andy.yubang.ui.MyRecommendedPartnerFirstFragmentActivity"
            android:label="@string/title_activity_my_recommended_partner_first_fragment" />
        <activity
            android:name="com.android.andy.yubang.ui.MyRecommendedPartnerSecondFragmentActivity"
            android:label="@string/title_activity_my_recommended_partner_second_fragment" />

        <!-- 设置 -->
        <activity
            android:name="com.android.andy.yubang.ui.SettingActivity"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait" />

        <!-- 商城商品 -->
        <activity
            android:name="com.android.andy.yubang.ui.ShoppingMallGoodsActivity"
            android:label="@string/title_activity_shopping_mall_goods"
            android:screenOrientation="portrait" />

        <!-- 确认订单 -->
        <activity
            android:name="com.android.andy.yubang.ui.ShoppingMallConformOrderActivity"
            android:label="@string/title_activity_shopping_mall_conform_order"
            android:screenOrientation="portrait" />

        <!-- 选择支付方式 -->
        <activity
            android:name="com.android.andy.yubang.ui.ShoppingMallChoosePaymentActivity"
            android:label="@string/title_activity_shopping_mall_choose_payment"
            android:screenOrientation="portrait" />

        <!-- 添加银行卡 -->
        <activity
            android:name="com.android.andy.yubang.ui.ShoppingMallPaymentAddBankCardActivity"
            android:label="@string/title_activity_shopping_mall_payment_add_bank_card"
            android:screenOrientation="portrait" />

        <!-- 选择照片  上传 -->
        <activity
            android:name="com.android.andy.yubang.ui.UploadFileSelectPicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DialogStyleBottom" />

        <!-- 首页店铺展示 -->
        <activity
            android:name="com.android.andy.yubang.ui.FirstPageShopShowActivity"
            android:label="@string/title_activity_first_page_shop_show"
            android:screenOrientation="portrait" />

        <!-- 首页店铺大图展示 -->
        <activity
            android:name="com.android.andy.yubang.ui.FirstPageShopBigPhotoShowActivity"
            android:label="@string/title_activity_first_page_shop_big_photo_show"
            android:screenOrientation="portrait" />

        <!-- 发现==>附近的 -->
        <activity
            android:name="com.android.andy.yubang.ui.DiscoverNearbyActivity"
            android:label="@string/title_activity_discover_nearby" />

        <!-- 我的邀请的佣金 -->
        <activity
            android:name="com.android.andy.yubang.ui.MyCommissionDetailActivity"
            android:label="@string/title_activity_my_commission_detail"
            android:screenOrientation="portrait" />

        <!-- 发现  推荐合伙人 -->
        <activity
            android:name="com.android.andy.yubang.ui.DiscoverRecommendPartnerActivity"
            android:label="@string/title_activity_discover_recommend_partner"
            android:screenOrientation="portrait" />

        <!-- 发现 推荐==>添加合伙人 -->
        <activity
            android:name="com.android.andy.yubang.ui.DiscoverRecommendAddPartnerActivity"
            android:label="@string/title_activity_discover_recommend_add_partner"
            android:screenOrientation="portrait" />

        <!-- 发现==>合伙人评论 -->
        <activity
            android:name="com.android.andy.yubang.ui.DiscoverRecommendPartnerCommentActivity"
            android:label="@string/title_activity_discover_recommend_partner_comment" />
        <activity android:name="com.android.andy.yubang.ui.ExpandableListTestActivity" />

        <!-- 百度定位的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

    </application>

</manifest>
